@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  background: linear-gradient(180deg, #f54874 0%, #eb008b 100%);
  transform: matrix(1, -0.02, 0.01, 1, 0, 0);
  height: 231.05px;
  width: 1314px;
}

.wave2 {
  background: linear-gradient(180deg, #f54874 0%, #eb008b 100%);
  box-shadow: 0px -2px 39px #f7f7f7;
  transform: rotate(0.76deg);
  height: 231.05px;
  width: 1314px;
}

.side-gradiend {
  background: linear-gradient(
    269.97deg,
    #ca4365 4.18%,
    rgba(196, 196, 196, 0) 77.28%
  );
}
.side-gradiend2 {
  background: linear-gradient(
    269.97deg,
    #ca4365 4.18%,
    rgba(196, 196, 196, 0) 77.28%
  );
  transform: rotate(-180deg);
}
